.chart-tooltip,
#chartjs-tooltip {
  opacity: 0;
  pointer-events: none;
  position: absolute;

  width: 150px;
  min-width: 150px;
  max-width: 150px;

  transform: translateY(-12%);
  background: $white;
  border-radius: 6px;
  color: $black;

  transition: all 0.1s ease;
  padding: 12px 15px;
  box-shadow: 0px 15px 50px rgba(80, 100, 124, 0.1), 0px 10px 15px rgba(80, 100, 124, 0.16);
  font-size: 12px;
  z-index: 2;
  &--balanceStuct {
    transform: translate(-50%, 0);
    color: $dark-blue;
  }
  &__wrapper {
    margin: 0;
  }
  &__section {
    margin: 15px 14px 17px 19px;
  }
  &__triangle {
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-radius: 2px;
    width: 10px;
    height: 10px;
    background: $white;
  }
  &__head {
    color: $gray2;
    &--rewards {
      margin-bottom: 5px;
    }
  }
  &__title {
    color: $gray2;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 12px;
  }
  &__date {
    color: $slategray1;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 10px;
  }
  &__balance-native,
  &__balance-usd,
  &__balance-btc,
  &__rate {
    font-weight: 700;
    color: $dark-blue;
  }
  &__balance-native,
  &__balance-usd,
  &__balance-btc {
    display: flex;
  }
  &__balance-btc {
    &--rewards {
      margin-bottom: 8px;
    }
    &--balanceStruct {
      margin-bottom: 0;
    }
  }
  &__balance-usd,
  &__balance-native {
    margin-bottom: 2px;
    &--balanceStruct {
      margin-bottom: 5px;
    }
  }
  &__currency {
    color: $black;
    font-weight: 300;
    margin-left: 3px;
  }
  &__vertical-line {
    left: 50%;
    position: absolute;
    background: $dark-blue;
    width: 2px;
    transition: 30ms;
    z-index: 1;
    transition-delay: 30ms;
    transform: translateX(-50%);
  }
  &__circle {
    position: absolute;
    bottom: -30px;
    height: 16px;
    width: 16px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-radius: 50%;
    border: 3px solid;
    background: $white;
  }
  &__horizontal-line {
    border-bottom: 1px solid $gainsboro;
    width: 100%;
    margin-bottom: 8px;
  }
}

.chart-tooltip__head--rewards {
  display: flex;
  flex-direction: column;
  span {
    color: $slategray1;
    font-weight: 400;
    font-size: 10px;
  }
}

.chart-tooltip {
  transform: translate(-50%, -137%);
  width: fit-content;
  min-width: 100px;
  max-width: 150px;
}
