$blue-gradient:linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
$gray-gradient:linear-gradient(255.4deg, #F0F2FC 0%, #EDF2FC 100%);
$ligth-blue-gradient:linear-gradient(90deg, #83A4D4 0%, #B6FBFF 100%);
$too-dark-blue:#0A2778;
$dark-blue:#6A4BFF;
$gainsboro:#D1D8E0;
$snow:#FCF8F8;
$midnightblue:#092778;
$blue:#1A53F0;
$mid-blue:#6B93C0;
$turquoise:#4cd9ed;
$banner-blue:#e9f6ff;
$ligth-blue:#00A3FF;
$too-ligth-blue:#C3CEEB;
$paleturquoise:#bee9fd;
$royalblue:#4042e2;
$orange:#FF5722;
$red:#FA3B33;
$ligth-red:#FFF1ED;
$ligth-red2: #FFF5F4;
$green:#0FB774;
$darkslategray:#37474F;
$gray:#9E9E9E;
$gray2: #BDBDBD;
$mid-gray:#AFBCCB;
$ligth-gray:#DAE3FE;
$ligthgray:#cfd6dd;
$light-gray-1: #e1e9f2;
$too-ligth-gray:#F0F3FD;
$too-ligth-gray2:#FBFBFB;
$white:#FFFFFF;
$light-green: #B8D700;
$ghostwhite:#F0F0FF;
$black:#000000;
$lavender:#e1e7f5;
$lavander-dark:#DAE1F2;
$modal: rgba(0, 0, 0, 0.5);
$lightsteelblue:#BCC2D8;
$lightsteelblue1:#a1b1d7;
$darkgray:#8b9bc7;
$slateblue:#695fe1;
$aliceblue:#f3faff;
$slategray:#756AA8;
$slategray1:#59779a;
$pink:#f1d3d0;
$paleturquoise:#bfe2fd;
$paleturquoise1:#C7E6FF;
$powderblue:#baddfa;
$gainsboro:#DADADA;
$gainsboro1:#CFCFF7;
$royalblue1:#1a53f0;
$magnolia:#E6EBF7;
$ghost-black:rgba(0, 0, 0, 0.05);
$lightcyan:#D7F0FF;
$crimson:#E91E63;
$notif-confirm-left: rgba(212, 252, 121, 0.3);
$notif-confirm-right: rgba(150, 230, 161, 0.3);
$notif-wait-left: rgba(246, 211, 101, 0.2);
$notif-wait-right: rgba(253, 160, 133, 0.2);
$notif-fail-left: rgba(211, 16, 39, 0.15);
$notif-fail-right: rgba(234, 56, 77, 0.15);
$dark-gray: #888888;
$ghostwhite1:#F9FAFF;
$whitesmoke:#eeeeee;
$orange-with-op:rgba(255, 87, 34, 0.2);
$ligth-blue-with-op:rgba(0, 163, 255, 0.2);
$mid-gray-with-op:rgba(175, 188, 203, 0.2);
$info-block-bg-with-op:rgba(0,163,255,0.1);
$dark-blue-with-op:rgba(106,75,255,0.15);
$claimBlockNoAccessBackground: #EDDCFF;
$toggleDefaultBackground:#DFE9F5;

$waitingStatus: #F4BD13;
$lavenderWeb: #E0E3F3;
$fieldName: #6B758E;
$unAvailToken: #FFEFEF;

$notif-confirm-left: rgba(212, 252, 121, 0.3);
$notif-confirm-right: rgba(150, 230, 161, 0.3);
$notif-wait-left: rgba(246, 211, 101, 0.2);
$notif-wait-right: rgba(253, 160, 133, 0.2);
$notif-fail-left: rgba(211, 16, 39, 0.15);
$notif-fail-right: rgba(234, 56, 77, 0.15);
$dark-gray: #888888;
$waitingStatus: #F4BD13;
$lavenderWeb: #E0E3F3;
$violetBackground: #E3E0F9;
$lightBlueBackground: #B6F1FF;
$ultralightblue: rgba(26, 83, 240, 0.05);
$light-blue-1: #C6E2FF;

$blue-hyacinth: #8496C0;
